body {
  padding: 0;
  margin: 0;
}

.App {
  position: relative;
  min-height: 100vh;
}

.AppLogo {
  width: 100px;
  pointer-events: none;
}

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  box-shadow: 0 4px 2px -2px gray;
}

.NavItems {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.NavItems > li {
  padding: 10px;
}

.Content {
  padding-bottom: 2.5rem;
  padding-left: 2.5rem;
}

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: lightblue;
  padding-left: 1rem;
}
